.hero__title {
   font-size: 64px;
   font-weight: 600;
   line-height: 1.25; /* 125% */
}

.hero__txt {
   margin-top: 40px;

   font-size: 24px;
}

.hero__btn {
   // display: inline-flex;
   margin-top: 60px;
   padding: 23px 64px;

   font-size: 36px;
   letter-spacing: 1.08px;

   color: $color-dark-btn;
   background-color: $bg-btn-color;
}
