// ===== COLOR-SCSS-VARS =====
$color-first: #8f95a5;

$color-second: #263238;
$color-subtitle: #263238;
$color-title: #000000;
$color-brand: #939393;
$color-hover: tomato;
$color-dark-btn: #ffffff;
$color-price-descr: #546269;
$color-about-value: #2a3246;
$color-footer-border: #c4c4c4;

$bg-first: #ffffff;
$bg-second-page: #f5f5f5;
$bg-btn-color: #263238;
$bg-price: #eeeeee;
